body {
    font-family: "Garamond", serif;
    height: 100%;
    background-image: linear-gradient(ghostwhite, cyan, dodgerblue);
    background-color: dodgerblue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #212121;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #6495ed;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: black;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    fill: #ffffff;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
  }
  
  .celsius {
    font-size: 15px;
    font-family: "Garamond", serif;
  }
  
  button {
    font-family: "Garamond", serif;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 12px;
    padding: 4px 8px;
    background: #ffffff;
    border: 1.2px solid blue;
    box-shadow: 2px 2px 2px #6495ed;
  }
  
  input {
    font-family: "Garamond", serif;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 5px;
    border: 1.2px solid blue;
    background-color: #ffffff;
    text-align: right;
  }
  
  h2 {
    color: black;
    font-size: 18px;
  }
  